.App {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 600px;
  height: 80%;
  text-align: center;
  background-color: #ffffff;
  border: 30px solid #e2e3e5;
  border-radius: 40px;
}

#root {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .App {
    height: 75vh;
    width: 85vw;
    border: 5vw solid #e2e3e5;
  }
}
