.question-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 96%;
    padding: 2%;
}

.question-editor{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    height: 40vh;
}

.list-item{
    display: flex;

}